<!-- Main content -->
<section class="content">
    <div class="container-fluid">
        <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
    <table
            id="example1"
            class="table table-striped- table-bordered table-hover table-checkable responsive no-wrap"
    >
        <thead>
        <tr>
            <th>Actions</th>
            <th>Product Name</th>
            <th>Product Id</th>
            <th>Merchant Product ID</th>
            <th>Merchant Img</th>
            <th>Description</th>
            <th>Category</th>
            <th>Search Price</th>
            <th>Merchant Name</th>
            <th>Merchant ID</th>
            <th>Category Name</th>
            <th>Category ID</th>
            <th>AW Image</th>
            <th>Currency</th>
            <th>Store Price</th>
            <th>Delivery Cost</th>
            <!--        <th>merchant_deep_link</th>-->
            <!--        <th>language</th>-->
            <th>Last Update</th>
            <!--        <th>display_price</th>-->
            <th>Data Feed ID</th>
            <th>Brand Name</th>
            <th>Brand ID</th>
            <th>Colour</th>
            <th>Product Description</th>
            <th>Specification</th>
            <th>Condition</th>
            <th>Product Model</th>
            <th>Model Number</th>
            <th>Dimensions</th>
            <th>Keywords</th>
            <th>Promotional Text</th>
            <th>Product Type</th>
            <th>Commission Group</th>
            <th>Merchant Product Category Path</th>
            <th>Merchant Product Second Category</th>
            <th>Merchant Product Third Category</th>
            <th>RRP Price</th>
            <th>Savings</th>
            <th>Saving Percentage</th>
            <th>Base Price</th>
            <th>Base Price Amount</th>
            <th>Base Price Text</th>
            <th>Product OLD Price</th>
            <th>Delivery Restrictions</th>
            <th>Delivery Weight</th>
            <th>Warranty</th>
            <th>Term Of Contract</th>
            <th>Delivery Time</th>
            <th>In Stock</th>
            <th>Stock Quantity</th>
            <th>Valid From</th>
            <th>Valid To</th>
            <th>For Sale</th>
            <th>Web Offer</th>
            <th>Pre Order</th>
            <th>Stock Status</th>
            <th>Stock Size Status</th>
            <th>Stock Size Amount</th>
            <th>Merchant Thumb</th>
            <th>Large Image</th>
            <th>Alternate Image</th>
            <th>AW Thumb</th>
            <th>Alternate Image 2</th>
            <th>Alternate Image 3</th>
            <th>Alternate Image 4</th>
            <th>Reviews</th>
            <th>Average Rating</th>
            <th>Rating</th>
            <th>Available Numbers</th>
            <th>Custom 1</th>
            <th>Custom 2</th>
            <th>Custom 3</th>
            <th>Custom 4</th>
            <th>Custom 5</th>
            <th>Custom 6</th>
            <th>Custom 7</th>
            <th>Custom 8</th>
            <th>Custom 9</th>
            <th>EAN</th>
            <th>ISBN</th>
            <th>UPC</th>
            <th>MPN</th>
            <th>Parent Product ID</th>
            <th>Product GTIN</th>
            <th>Basket Link</th>
            <th>ID</th>
            
        </tr>
        </thead>
        <tbody></tbody>
    </table>
</section>
<!-- /.content -->
