<!-- Main content -->
<section class="content">
  <div class="container-fluid">
    <div class="row">
      <!-- left column -->
      <div class="col-md-12">
        <!-- jquery validation -->
        <div class="card card-primary">
          <div class="card-header">
            <h3 class="card-title">Export Categories</h3>
          </div>
          <form action="/export-categories/brandcategorylist" method="get">
            <div class="card-body">
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <input type="submit" value="Export" class="btn btn-primary" style="width: 120px">
                  </div>
                </div>
              </div>
              <!-- /.card -->
            </div>
          </form>
    </div>
    <!-- /.row -->
      </div>
    </div>
  </div>
  <table id="example5" class="table table-bordered table-striped">
    <thead>
    <tr>
        <th>Brand Name</th>
        <th>Category</th>
    </tr>
    </thead>
    <tbody>

    </tbody>
  </table>
  <!-- /.container-fluid -->
</section>
<!-- /.content -->

