<!-- Main content -->
<section class="content">
  <div class="container-fluid">
    <div class="row">
      <!-- left column -->
      <div class="col-md-12">
        <!-- jquery validation -->
        <div class="card card-primary">
          <div class="card-header">
            <h3 class="card-title">Brand Images</h3>
          </div>
          <form action="/product-images/getImageData" method="post" enctype="multipart/form-data">
            <div class="card-body">
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label>AW Product Id</label>
                    <input type="text" class="form-control" name="aw_product_id" placeholder="AW Product Id" required>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label>Image</label>
                    <input type="file" class="form-control" name="image" multiple="multiple">
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <input type="submit" value="Post">
                  </div>
                </div>
              </div>
              <!-- /.card -->
            </div>
          </form>
          <!-- /.card-header -->
          <!-- form start -->
          <!-- drop down -->
          <!--/.col (left) -->
          <!-- right column -->
          <div class="col-md-6"></div>
          <!--/.col (right) -->
        </div>
        <!-- /.row -->
      </div>
      <div class="col-md-12">
        <div class="card-body  ">
          <table id="example6" class="table table-bordered table-striped">
            <thead>
            <tr>
              <th style="width: 20%">Product Id</th>
<!--              <th style="width: 20%">Image Category</th>-->
              <th style="width: 100%">Image</th>
              <th style="width: 100%">Actions</th>
            </tr>
            </thead>
            <tbody>

            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

  <!-- /.container-fluid -->
</section>
<!-- /.content -->
